.articles-list-2 {
  .article-item-2 {
    margin 0 0 rem(22)
    &:nth-child(3n + 2) {
      .article-item-2__inner {
        background $orange-1
      }
    }
    &:nth-child(3n + 3) {
      .article-item-2__inner {
        background $blue-1
      }
    }
  }

  @media (min-width $screen-sm-min) {
    .article-item-2 {
      &:nth-child(3n + 2) {
        .article-item-2__inner {
          &:before {
            background #d37d00
          }
        }
      }
      &:nth-child(3n + 3) {
        .article-item-2__inner {
          &:before {
            background #237da7
          }
        }
      }
    }
  }
}
