mixin header()
  header.-header&attributes(attributes)
    .__inner
      .-container-fluid
        .-row
          .-col-xs-12.col-sm-12.col-md-8.col-lg-7
            h1.-header.__title Где отдохнуть летом?
            p.
              Тренды-2017: самые популярные
              в России туристические
              направления этого лета
    .__inner-2
      .-container-fluid
        p.
          Несмотря на то, что традиционный отдых летом — у моря, наши соотечественники в последнее время все чаще отдают предпочтение культурным центрам. В тройке лидеров наши «родные» — Москва, Санкт-Петербург и Сочи.
          Следом идут Барселона и Рим.
    block