.header {
  flex 0 0 auto
  color white
  p {
    &:last-child {
      margin 0
    }
  }

  &__inner {
    font-size rem(25)
    line-height (39/36)
    padding rem(50) 0 rem(50)
    background url("header-bg.jpg") no-repeat 50% 0/cover
  }

  &__title {
    font-weight 400
    font-size rem(50)
    line-height 1em
    color white
    margin 0 0 0.45em
  }

  &__inner-2 {
    font-size rem(20)
    line-height (29/20)
    font-weight 500
    padding rem(35) 0 rem(23)
    background $green-1
  }

  @media (min-width $screen-sm-min) {
    &__inner {
      font-size rem(36)
      padding rem(130) 0 rem(115)
    }

    &__title {
      font-size rem(61)
    }

    &__inner-2 {
      position relative
      .container-fluid {
        &:before {
          content ''
          border-left rem(204) solid transparent
          border-right rem(204) solid transparent
          border-bottom rem(58) solid $green-1
          pointer-events none
          position absolute
          bottom 100%
          margin-left rem(-15)
        }
        &:after {
          content ''
          width rem(86)
          height rem(56)
          background inline-img('fly.png') no-repeat 0 0/cover
          pointer-events none
          position absolute
          bottom 100%
          margin 0 0 rem(-17) rem(138)
        }
      }
    }
  }
}